In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
a = 2
b = 3
a
b

2

3

## User & Item based Collaborative Filtering

### Load data

In [3]:
import pandas as pd
import numpy as np

In [4]:
ratings = pd.read_csv("3 - ratings_sub.csv",encoding = "ISO-8859-1")

In [5]:
ratings.shape

(487469, 7)

In [6]:
ratings.head()

,userId,movieId,rating,timestamp,title,genres,year
0,3218,3889,1.0,1172532894,Highlander: Endgame (Highlander IV) (2000),Action|Adventure|Fantasy,2000.0
1,3663,3889,1.0,1044474348,Highlander: Endgame (Highlander IV) (2000),Action|Adventure|Fantasy,2000.0
2,3704,3889,3.0,971391538,Highlander: Endgame (Highlander IV) (2000),Action|Adventure|Fantasy,2000.0
3,8877,3889,1.0,1050744366,Highlander: Endgame (Highlander IV) (2000),Action|Adventure|Fantasy,2000.0
4,9599,3889,0.5,1378056755,Highlander: Endgame (Highlander IV) (2000),Action|Adventure|Fantasy,2000.0

In [7]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 487469 entries, 0 to 487468
Data columns (total 7 columns):
userId       487469 non-null int64
movieId      487469 non-null int64
rating       487469 non-null float64
timestamp    487469 non-null int64
title        487469 non-null object
genres       487469 non-null object
year         487469 non-null float64
dtypes: float64(2), int64(3), object(2)
memory usage: 26.0+ MB

In [8]:
ratings.userId=ratings.userId.astype(str)
ratings.movieId=ratings.movieId.astype(str)

In [9]:
ratings.columns

Index(['userId', 'movieId', 'rating', 'timestamp', 'title', 'genres', 'year'], dtype='object')

### Data Exploration & Transformation

<b> Find the top 10 most popular movies watched </b>

In [10]:
# Total unique users 
print("total unique users - ",len(ratings["userId"].unique()))

total unique users -  2827

<b> Q: Who are the users with maximum no of movies watched? </b>

In [11]:
# Users with max no of movies watches
ratings["userId"].value_counts().head()

37629     200
105856    200
119152    200
122882    200
89138     200
Name: userId, dtype: int64

### Transforming data to surprise format

In [12]:
from surprise import Dataset,Reader
reader = Reader(rating_scale=(1, 5))

In [13]:
data = Dataset.load_from_df(ratings[['userId', 'title', 'rating']], reader)

In [14]:
data

In [15]:
# Split data to train and test
from surprise.model_selection import train_test_split
trainset, testset = train_test_split(data, test_size=.25,random_state=123)

# to build on full data
#trainset = data.build_full_trainset()

In [16]:
type(trainset)

surprise.trainset.Trainset

### Making sense of trainset

Points to Note:
    
    1) Trainset is no longer a pandas dataframe. Rather, it's a specific datatypes defined by the Surprise library
    2) UserId and ItemId in the pandas dataframe can contain any value (either string/integer etc). However, Trainset convert these raw ids into numeric indexes called as "inner id"
    3) Methods are provided to convert rw id to inner id and vice verca

In [17]:
# user item rating data can be obtained as follows
user_records = trainset.ur
type(user_records)

collections.defaultdict

In [18]:
for keys in user_records.keys():
    print(keys)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000
1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1035
1036
1037
1038
1039
1040
1041
1042
1043
1044
1045
1046
1047
1048
1049
1050
1051
1052
1053
1054
1055
1056
1057
1058
1059
1060
1061
1062
1063
1064
1065
1066
1067
1068
1069
1070
1071
1072
1073
1074
1075
1076
1077
1078
1079
1080
1081
1082
1083
1084
1085
1086
1087
1088
1089
1090
1091
1092
1093
1094
1095
1096
1097
1098
1099
1100
1101
1102
1103
1104
1105
1106
1107
1108
1109
1110
1111
1112
1113
1114
1115
1116
1117
1118
1119
1120
1121
1122
1123
1124
1125
1126
1127
1128
1129
1130
1131
1132
1133
1134
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1147
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1213
1214
1215
1216
1217
1218
1219
1220
1221
1222
1223
1224
1225
1226
1227
1228
1229
1230
1231
1232
1233
1234
1235
1236
1237
1238
1239
1240
1241
1242
1243
1244
1245
1246
1247
1248
1249
1250
1251
1252
1253
1254
1255
1256
1257
1258
1259
1260
1261
1262
1263
1264
1265
1266
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1282
1283
1284
1285
1286
1287
1288
1289
1290
1291
1292
1293
1294
1295
1296
1297
1298
1299
1300
1301
1302
1303
1304
1305
1306
1307
1308
1309
1310
1311
1312
1313
1314
1315
1316
1317
1318
1319
1320
1321
1322
1323
1324
1325
1326
1327
1328
1329
1330
1331
1332
1333
1334
1335
1336
1337
1338
1339
1340
1341
1342
1343
1344
1345
1346
1347
1348
1349
1350
1351
1352
1353
1354
1355
1356
1357
1358
1359
1360
1361
1362
1363
1364
1365
1366
1367
1368
1369
1370
1371
1372
1373
1374
1375
1376
1377
1378
1379
1380
1381
1382
1383
1384
1385
1386
1387
1388
1389
1390
1391
1392
1393
1394
1395
1396
1397
1398
1399
1400
1401
1402
1403
1404
1405
1406
1407
1408
1409
1410
1411
1412
1413
1414
1415
1416
1417
1418
1419
1420
1421
1422
1423
1424
1425
1426
1427
1428
1429
1430
1431
1432
1433
1434
1435
1436
1437
1438
1439
1440
1441
1442
1443
1444
1445
1446
1447
1448
1449
1450
1451
1452
1453
1454
1455
1456
1457
1458
1459
1460
1461
1462
1463
1464
1465
1466
1467
1468
1469
1470
1471
1472
1473
1474
1475
1476
1477
1478
1479
1480
1481
1482
1483
1484
1485
1486
1487
1488
1489
1490
1491
1492
1493
1494
1495
1496
1497
1498
1499
1500
1501
1502
1503
1504
1505
1506
1507
1508
1509
1510
1511
1512
1513
1514
1515
1516
1517
1518
1519
1520
1521
1522
1523
1524
1525
1526
1527
1528
1529
1530
1531
1532
1533
1534
1535
1536
1537
1538
1539
1540
1541
1542
1543
1544
1545
1546
1547
1548
1549
1550
1551
1552
1553
1554
1555
1556
1557
1558
1559
1560
1561
1562
1563
1564
1565
1566
1567
1568
1569
1570
1571
1572
1573
1574
1575
1576
1577
1578
1579
1580
1581
1582
1583
1584
1585
1586
1587
1588
1589
1590
1591
1592
1593
1594
1595
1596
1597
1598
1599
1600
1601
1602
1603
1604
1605
1606
1607
1608
1609
1610
1611
1612
1613
1614
1615
1616
1617
1618
1619
1620
1621
1622
1623
1624
1625
1626
1627
1628
1629
1630
1631
1632
1633
1634
1635
1636
1637
1638
1639
1640
1641
1642
1643
1644
1645
1646
1647
1648
1649
1650
1651
1652
1653
1654
1655
1656
1657
1658
1659
1660
1661
1662
1663
1664
1665
1666
1667
1668
1669
1670
1671
1672
1673
1674
1675
1676
1677
1678
1679
1680
1681
1682
1683
1684
1685
1686
1687
1688
1689
1690
1691
1692
1693
1694
1695
1696
1697
1698
1699
1700
1701
1702
1703
1704
1705
1706
1707
1708
1709
1710
1711
1712
1713
1714
1715
1716
1717
1718
1719
1720
1721
1722
1723
1724
1725
1726
1727
1728
1729
1730
1731
1732
1733
1734
1735
1736
1737
1738
1739
1740
1741
1742
1743
1744
1745
1746
1747
1748
1749
1750
1751
1752
1753
1754
1755
1756
1757
1758
1759
1760
1761
1762
1763
1764
1765
1766
1767
1768
1769
1770
1771
1772
1773
1774
1775
1776
1777
1778
1779
1780
1781
1782
1783
1784
1785
1786
1787
1788
1789
1790
1791
1792
1793
1794
1795
1796
1797
1798
1799
1800
1801
1802
1803
1804
1805
1806
1807
1808
1809
1810
1811
1812
1813
1814
1815
1816
1817
1818
1819
1820
1821
1822
1823
1824
1825
1826
1827
1828
1829
1830
1831
1832
1833
1834
1835
1836
1837
1838
1839
1840
1841
1842
1843
1844
1845
1846
1847
1848
1849
1850
1851
1852
1853
1854
1855
1856
1857
1858
1859
1860
1861
1862
1863
1864
1865
1866
1867
1868
1869
1870
1871
1872
1873
1874
1875
1876
1877
1878
1879
1880
1881
1882
1883
1884
1885
1886
1887
1888
1889
1890
1891
1892
1893
1894
1895
1896
1897
1898
1899
1900
1901
1902
1903
1904
1905
1906
1907
1908
1909
1910
1911
1912
1913
1914
1915
1916
1917
1918
1919
1920
1921
1922
1923
1924
1925
1926
1927
1928
1929
1930
1931
1932
1933
1934
1935
1936
1937
1938
1939
1940
1941
1942
1943
1944
1945
1946
1947
1948
1949
1950
1951
1952
1953
1954
1955
1956
1957
1958
1959
1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023
2024
2025
2026
2027
2028
2029
2030
2031
2032
2033
2034
2035
2036
2037
2038
2039
2040
2041
2042
2043
2044
2045
2046
2047
2048
2049
2050
2051
2052
2053
2054
2055
2056
2057
2058
2059
2060
2061
2062
2063
2064
2065
2066
2067
2068
2069
2070
2071
2072
2073
2074
2075
2076
2077
2078
2079
2080
2081
2082
2083
2084
2085
2086
2087
2088
2089
2090
2091
2092
2093
2094
2095
2096
2097
2098
2099
2100
2101
2102
2103
2104
2105
2106
2107
2108
2109
2110
2111
2112
2113
2114
2115
2116
2117
2118
2119
2120
2121
2122
2123
2124
2125
2126
2127
2128
2129
2130
2131
2132
2133
2134
2135
2136
2137
2138
2139
2140
2141
2142
2143
2144
2145
2146
2147
2148
2149
2150
2151
2152
2153
2154
2155
2156
2157
2158
2159
2160
2161
2162
2163
2164
2165
2166
2167
2168
2169
2170
2171
2172
2173
2174
2175
2176
2177
2178
2179
2180
2181
2182
2183
2184
2185
2186
2187
2188
2189
2190
2191
2192
2193
2194
2195
2196
2197
2198
2199
2200
2201
2202
2203
2204
2205
2206
2207
2208
2209
2210
2211
2212
2213
2214
2215
2216
2217
2218
2219
2220
2221
2222
2223
2224
2225
2226
2227
2228
2229
2230
2231
2232
2233
2234
2235
2236
2237
2238
2239
2240
2241
2242
2243
2244
2245
2246
2247
2248
2249
2250
2251
2252
2253
2254
2255
2256
2257
2258
2259
2260
2261
2262
2263
2264
2265
2266
2267
2268
2269
2270
2271
2272
2273
2274
2275
2276
2277
2278
2279
2280
2281
2282
2283
2284
2285
2286
2287
2288
2289
2290
2291
2292
2293
2294
2295
2296
2297
2298
2299
2300
2301
2302
2303
2304
2305
2306
2307
2308
2309
2310
2311
2312
2313
2314
2315
2316
2317
2318
2319
2320
2321
2322
2323
2324
2325
2326
2327
2328
2329
2330
2331
2332
2333
2334
2335
2336
2337
2338
2339
2340
2341
2342
2343
2344
2345
2346
2347
2348
2349
2350
2351
2352
2353
2354
2355
2356
2357
2358
2359
2360
2361
2362
2363
2364
2365
2366
2367
2368
2369
2370
2371
2372
2373
2374
2375
2376
2377
2378
2379
2380
2381
2382
2383
2384
2385
2386
2387
2388
2389
2390
2391
2392
2393
2394
2395
2396
2397
2398
2399
2400
2401
2402
2403
2404
2405
2406
2407
2408
2409
2410
2411
2412
2413
2414
2415
2416
2417
2418
2419
2420
2421
2422
2423
2424
2425
2426
2427
2428
2429
2430
2431
2432
2433
2434
2435
2436
2437
2438
2439
2440
2441
2442
2443
2444
2445
2446
2447
2448
2449
2450
2451
2452
2453
2454
2455
2456
2457
2458
2459
2460
2461
2462
2463
2464
2465
2466
2467
2468
2469
2470
2471
2472
2473
2474
2475
2476
2477
2478
2479
2480
2481
2482
2483
2484
2485
2486
2487
2488
2489
2490
2491
2492
2493
2494
2495
2496
2497
2498
2499
2500
2501
2502
2503
2504
2505
2506
2507
2508
2509
2510
2511
2512
2513
2514
2515
2516
2517
2518
2519
2520
2521
2522
2523
2524
2525
2526
2527
2528
2529
2530
2531
2532
2533
2534
2535
2536
2537
2538
2539
2540
2541
2542
2543
2544
2545
2546
2547
2548
2549
2550
2551
2552
2553
2554
2555
2556
2557
2558
2559
2560
2561
2562
2563
2564
2565
2566
2567
2568
2569
2570
2571
2572
2573
2574
2575
2576
2577
2578
2579
2580
2581
2582
2583
2584
2585
2586
2587
2588
2589
2590
2591
2592
2593
2594
2595
2596
2597
2598
2599
2600
2601
2602
2603
2604
2605
2606
2607
2608
2609
2610
2611
2612
2613
2614
2615
2616
2617
2618
2619
2620
2621
2622
2623
2624
2625
2626
2627
2628
2629
2630
2631
2632
2633
2634
2635
2636
2637
2638
2639
2640
2641
2642
2643
2644
2645
2646
2647
2648
2649
2650
2651
2652
2653
2654
2655
2656
2657
2658
2659
2660
2661
2662
2663
2664
2665
2666
2667
2668
2669
2670
2671
2672
2673
2674
2675
2676
2677
2678
2679
2680
2681
2682
2683
2684
2685
2686
2687
2688
2689
2690
2691
2692
2693
2694
2695
2696
2697
2698
2699
2700
2701
2702
2703
2704
2705
2706
2707
2708
2709
2710
2711
2712
2713
2714
2715
2716
2717
2718
2719
2720
2721
2722
2723
2724
2725
2726
2727
2728
2729
2730
2731
2732
2733
2734
2735
2736
2737
2738
2739
2740
2741
2742
2743
2744
2745
2746
2747
2748
2749
2750
2751
2752
2753
2754
2755
2756
2757
2758
2759
2760
2761
2762
2763
2764
2765
2766
2767
2768
2769
2770
2771
2772
2773
2774
2775
2776
2777
2778
2779
2780
2781
2782
2783
2784
2785
2786
2787
2788
2789
2790
2791
2792
2793
2794
2795
2796
2797
2798
2799
2800
2801
2802
2803
2804
2805
2806
2807
2808
2809
2810
2811
2812
2813
2814
2815
2816
2817
2818
2819
2820
2821
2822
2823
2824
2825
2826

In [19]:
user_records[0]

[(0, 3.0),
 (195, 4.0),
 (1066, 3.5),
 (999, 3.5),
 (237, 3.0),
 (1577, 3.0),
 (932, 2.0),
 (247, 4.5),
 (2215, 3.0),
 (221, 4.0),
 (745, 3.0),
 (133, 3.0),
 (249, 3.0),
 (1065, 2.5),
 (255, 3.5),
 (167, 4.0),
 (586, 3.5),
 (1234, 4.0),
 (259, 4.5),
 (729, 2.5),
 (236, 3.5),
 (181, 3.5),
 (3245, 3.5),
 (1014, 3.0),
 (577, 5.0),
 (2789, 3.5),
 (91, 4.0),
 (10, 4.0),
 (19, 3.5),
 (274, 4.0),
 (2135, 3.0),
 (1419, 3.5),
 (695, 4.0),
 (1373, 3.5),
 (850, 3.0),
 (334, 4.0),
 (2759, 3.0),
 (222, 3.0),
 (37, 4.0),
 (380, 2.5),
 (544, 4.0),
 (542, 4.5),
 (1135, 5.0),
 (650, 5.0),
 (4625, 3.5),
 (341, 1.0),
 (780, 4.0),
 (2371, 3.0),
 (661, 4.0),
 (4742, 4.5),
 (1660, 3.5),
 (4189, 2.5),
 (110, 2.5),
 (2349, 3.0),
 (2285, 3.5),
 (2623, 3.0),
 (1001, 4.0),
 (1490, 3.0),
 (171, 4.0),
 (465, 4.0),
 (733, 5.0),
 (894, 3.0),
 (3771, 3.0),
 (933, 3.0),
 (1083, 3.0),
 (3003, 3.0),
 (11, 3.0),
 (756, 2.5),
 (604, 3.5),
 (258, 4.0),
 (725, 5.0),
 (320, 3.5),
 (1838, 5.0),
 (383, 3.0),
 (3977, 3.0),
 (1968, 5.0),
 (3721, 2.5),
 (582, 4.0),
 (1035, 2.5),
 (1063, 3.5),
 (844, 2.5),
 (832, 4.0),
 (4564, 3.5),
 (1662, 5.0),
 (2606, 3.5),
 (1936, 4.0),
 (5536, 3.5),
 (1041, 3.5),
 (5544, 3.0),
 (3297, 3.0),
 (32, 3.0),
 (459, 3.0),
 (80, 4.0),
 (1252, 3.5),
 (188, 2.5),
 (434, 4.0),
 (12, 4.0),
 (4505, 2.5),
 (749, 3.0),
 (392, 2.5),
 (2227, 2.5),
 (4009, 3.5),
 (1439, 5.0),
 (1692, 3.0),
 (381, 4.5),
 (2022, 3.5),
 (1182, 3.0),
 (2159, 3.0),
 (660, 4.0),
 (114, 3.0),
 (360, 4.5),
 (1970, 2.0),
 (36, 4.5),
 (479, 5.0),
 (622, 4.5),
 (89, 3.0),
 (219, 3.0),
 (152, 5.0),
 (169, 4.0),
 (344, 3.5),
 (86, 4.0),
 (228, 5.0),
 (1099, 3.0),
 (1591, 2.5),
 (1716, 2.5),
 (1262, 2.5),
 (102, 4.0),
 (813, 2.0),
 (146, 3.0),
 (1926, 3.5),
 (1710, 4.0),
 (285, 1.0),
 (789, 2.5),
 (1896, 3.5),
 (4732, 2.5),
 (242, 5.0),
 (1679, 3.0),
 (279, 3.0),
 (466, 5.0),
 (3059, 2.5),
 (617, 5.0),
 (2663, 3.0),
 (2857, 3.5),
 (1524, 3.0)]

In [20]:
# However the ids are the inner ids and not the raw ids
# raw ids can be obatined as follows

print(trainset.to_raw_uid(0))
print(trainset.to_raw_iid(1066))

248
Step Up 2 the Streets (2008)

In [21]:
user_records[0]

[(0, 3.0),
 (195, 4.0),
 (1066, 3.5),
 (999, 3.5),
 (237, 3.0),
 (1577, 3.0),
 (932, 2.0),
 (247, 4.5),
 (2215, 3.0),
 (221, 4.0),
 (745, 3.0),
 (133, 3.0),
 (249, 3.0),
 (1065, 2.5),
 (255, 3.5),
 (167, 4.0),
 (586, 3.5),
 (1234, 4.0),
 (259, 4.5),
 (729, 2.5),
 (236, 3.5),
 (181, 3.5),
 (3245, 3.5),
 (1014, 3.0),
 (577, 5.0),
 (2789, 3.5),
 (91, 4.0),
 (10, 4.0),
 (19, 3.5),
 (274, 4.0),
 (2135, 3.0),
 (1419, 3.5),
 (695, 4.0),
 (1373, 3.5),
 (850, 3.0),
 (334, 4.0),
 (2759, 3.0),
 (222, 3.0),
 (37, 4.0),
 (380, 2.5),
 (544, 4.0),
 (542, 4.5),
 (1135, 5.0),
 (650, 5.0),
 (4625, 3.5),
 (341, 1.0),
 (780, 4.0),
 (2371, 3.0),
 (661, 4.0),
 (4742, 4.5),
 (1660, 3.5),
 (4189, 2.5),
 (110, 2.5),
 (2349, 3.0),
 (2285, 3.5),
 (2623, 3.0),
 (1001, 4.0),
 (1490, 3.0),
 (171, 4.0),
 (465, 4.0),
 (733, 5.0),
 (894, 3.0),
 (3771, 3.0),
 (933, 3.0),
 (1083, 3.0),
 (3003, 3.0),
 (11, 3.0),
 (756, 2.5),
 (604, 3.5),
 (258, 4.0),
 (725, 5.0),
 (320, 3.5),
 (1838, 5.0),
 (383, 3.0),
 (3977, 3.0),
 (1968, 5.0),
 (3721, 2.5),
 (582, 4.0),
 (1035, 2.5),
 (1063, 3.5),
 (844, 2.5),
 (832, 4.0),
 (4564, 3.5),
 (1662, 5.0),
 (2606, 3.5),
 (1936, 4.0),
 (5536, 3.5),
 (1041, 3.5),
 (5544, 3.0),
 (3297, 3.0),
 (32, 3.0),
 (459, 3.0),
 (80, 4.0),
 (1252, 3.5),
 (188, 2.5),
 (434, 4.0),
 (12, 4.0),
 (4505, 2.5),
 (749, 3.0),
 (392, 2.5),
 (2227, 2.5),
 (4009, 3.5),
 (1439, 5.0),
 (1692, 3.0),
 (381, 4.5),
 (2022, 3.5),
 (1182, 3.0),
 (2159, 3.0),
 (660, 4.0),
 (114, 3.0),
 (360, 4.5),
 (1970, 2.0),
 (36, 4.5),
 (479, 5.0),
 (622, 4.5),
 (89, 3.0),
 (219, 3.0),
 (152, 5.0),
 (169, 4.0),
 (344, 3.5),
 (86, 4.0),
 (228, 5.0),
 (1099, 3.0),
 (1591, 2.5),
 (1716, 2.5),
 (1262, 2.5),
 (102, 4.0),
 (813, 2.0),
 (146, 3.0),
 (1926, 3.5),
 (1710, 4.0),
 (285, 1.0),
 (789, 2.5),
 (1896, 3.5),
 (4732, 2.5),
 (242, 5.0),
 (1679, 3.0),
 (279, 3.0),
 (466, 5.0),
 (3059, 2.5),
 (617, 5.0),
 (2663, 3.0),
 (2857, 3.5),
 (1524, 3.0)]

<b> In Class Assignment </b>

Confirm the raw to internal id mapping with original data, for a given user/item combination (uid - 0 & iid - 1066)

### Training the model

In [22]:
from surprise import KNNWithMeans
from surprise import accuracy
from surprise import Prediction

In [23]:
algo = KNNWithMeans(k=51, sim_options={'name': 'pearson', 'user_based': False})
algo.fit(trainset)

Computing the pearson similarity matrix...
Done computing similarity matrix.

### Find K most similiar items

<b> In-class assignment </b>

Which movies are most similiar to Finding Nemo? (Hint: Use <b> get_neighbors </b> method of the algo object)

### Evaluating Model Performance

In [24]:
len(testset)

121868

In [25]:
testset[0:5]

[('107317', 'Signs (2002)', 2.5),
 ('103061', 'Inconvenient Truth, An (2006)', 4.5),
 ('84115', 'Battlefield Earth (2000)', 2.5),
 ('130756',
  'Fast and the Furious: Tokyo Drift, The (Fast and the Furious 3, The) (2006)',
  2.0),
 ('24878', 'Drive (2011)', 4.5)]

In [26]:
# Evalute on test set
test_pred = algo.test(testset)

# compute RMSE
accuracy.rmse(test_pred)

RMSE: 0.8113

0.8113433713272009

In [49]:
# View a particular prediction
test_pred[12]

# To access a particular value, say estimate simply mention test_pred[12].est

Prediction(uid='7051', iid='Black Hawk Down (2001)', r_ui=5.0, est=3.867693529499944, details={'actual_k': 51, 'was_impossible': False})

In [50]:
test_pred[12].details["actual_k"]

51

In [51]:
# convert results to dataframe
test_pred_df = pd.DataFrame(test_pred)
test_pred_df["was_impossible"] = [x["was_impossible"] for x in test_pred_df["details"]]

In [62]:
test_pred_df.loc[test_pred_df.was_impossible].tail(5)

,uid,iid,r_ui,est,details,was_impossible
159,36730,Grill Point (Halbe Treppe) (2002),3.5,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
604,131040,Escape from Planet Earth (2013),2.0,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
827,116349,No Good Deed (2014),3.5,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
1865,124431,Films to Keep You Awake: The Christmas Tale (P...,0.5,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
2020,21811,Insanitarium (2008),3.5,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
2118,122288,Something Real and Good (2013),3.5,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
2125,2606,In the Land of Blood and Honey (2011),4.0,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
2365,37062,Suburban Gothic (2014),2.5,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
2991,54414,Spring Breakdown (2009),2.0,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
3088,69225,"11th Hour, The (2007)",4.0,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
3291,87165,Hood of Horror (2006),2.0,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
3399,55441,The War (2007),4.0,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
3517,28069,Dead Man Running (2009),4.0,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
3727,129254,Blindness (2003),2.5,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
4009,45575,Transylmania (2009),2.5,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
4038,96610,Bringing Up Bobby (2011),3.0,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
4084,95865,Casa de mi Padre (2012),3.5,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
4175,37062,A.C.O.D. (2013),2.0,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
5526,7571,"Girl, The (2000)",3.0,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
5766,65874,"Drop, The (2014)",4.0,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
6073,12915,Paradise: Faith (Paradies: Glaube) (2012),4.0,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
6212,71374,Virunga (2014),4.0,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
6362,115353,Garage (2007),4.5,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
6454,42931,Even Money (2006),3.0,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
6485,89757,War of the Arrows (Choi-jong-byeong-gi Hwal) (...,4.0,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
6610,61050,"Dark Horse, The (2014)",4.0,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
6671,78040,Electrick Children (2012),4.5,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
6791,16835,"Loco Love (Mi Casa, Su Casa) (2002)",3.5,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
7007,37062,Monty Python Live (Mostly) (2014),0.5,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
7117,64110,Arbitrage (2012),5.0,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
...,...,...,...,...,...,...
113120,114993,Face (2002),2.0,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
113483,49598,How About You... (2007),4.0,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
113519,70570,We Are Legion: The Story of the Hacktivists (2...,3.0,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
113795,45016,There's Something Wrong with Aunt Diane (2011),4.0,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
113810,134800,That's What I Am (2011),4.0,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
113848,52852,Blindness (2003),4.0,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
114030,23334,Inequality for All (2013),3.0,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
114414,104075,"Chosen One, The (2010)",0.5,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
115654,113696,"Friend of Mine, A (Ein Freund von mir) (2006)",2.5,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
116016,16059,Eva (2011),3.5,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
116357,72541,Nokas (2010),3.0,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
116426,67245,27 Missing Kisses (2000),4.0,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
117012,16059,Comet (2014),3.5,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
117038,121753,"If I Want to Whistle, I Whistle (Eu cand vreau...",4.0,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
117096,12954,Dead Set (2008),4.0,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
117491,85095,"Game of Their Lives, The (2005)",3.0,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
117928,59814,Vampire Girl vs. Frankenstein Girl (KyÃ»ketsu ...,1.0,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
118132,37062,Toy Story That Time Forgot (2014),0.5,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
118167,96610,Yolki (2010),2.5,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
118995,61050,Island at War (2004),5.0,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
119049,41891,Trail of the Screaming Forehead (2007),4.5,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
119478,48816,Cycling with Moliere (Alceste Ã bicyclette) (...,2.5,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
119947,15047,Devil's Pond (2003),1.0,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
120276,58920,Life for Sale (Kotirauha) (2011),3.5,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
120399,72541,Armageddon 2012 (2012),1.0,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
120560,41891,"Devil Dared Me To, The (2007)",4.0,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
120594,101656,Beautiful City (Shah-re ziba) (2004),3.5,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
120919,68172,"Firm, The (2009)",3.5,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
121362,77816,Remember Me (Ricordati di me) (2003),4.0,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True
121672,133473,Grill Point (Halbe Treppe) (2002),4.0,3.511396,"{'was_impossible': True, 'reason': 'User and/o...",True

<b> In class assignment </b>

What does <i>"was impossible": True indicate?</i>  

For how many cases in Test set, the predictions are set to "was_impossible"? And what could be the reasons for it?

### Predictions

In [63]:
# Mkae prediction for a single user
algo.predict(uid="41891",iid="Wrong Trousers, The (1993)")

Prediction(uid='41891', iid='Wrong Trousers, The (1993)', r_ui=None, est=3.511396303620614, details={'was_impossible': True, 'reason': 'User and/or item is unkown.'})

### Generating top n recommendations

In [64]:
testset_new = trainset.build_anti_testset()

In [65]:
len(testset_new)

17308818

In [66]:
testset_new[0:5]

[('248', 'Disturbia (2007)', 3.511396303620614),
 ('248', 'Hamlet 2 (2008)', 3.511396303620614),
 ('248', 'Unbreakable (2000)', 3.511396303620614),
 ('248', 'Finding Neverland (2004)', 3.511396303620614),
 ('248', 'X2: X-Men United (2003)', 3.511396303620614)]

In [67]:
predictions = algo.test(testset_new[0:10000])

In [68]:
predictions_df = pd.DataFrame([[x.uid,x.iid,x.est] for x in predictions])

In [69]:
predictions_df.columns = ["userId","movie_name","est_rating"]
predictions_df.sort_values(by = ["userId", "est_rating"],ascending=False,inplace=True)

In [73]:
predictions_df.head(10)

     userId                                         movie_name  est_rating
8040  45844                                 Elizabeth I (2005)         5.0
9039  45844             Star Wars Uncut: Director's Cut (2012)         5.0
9147  45844                                 Lucky Break (2001)         5.0
9413  45844                                   Dog Pound (2010)         5.0
9497  45844                           911 in Plane Site (2004)         5.0
9507  45844          Wild Things: Diamonds in the Rough (2005)         5.0
9539  45844  Serial (Bad) Weddings (Qu'est-ce Qu'on An Fit ...         5.0
9877  45844                                      Bag It (2010)         5.0
9909  45844  Triad Election (Election 2) (Hak se wui yi wo ...         5.0
9978  45844                        Stromberg - Der Film (2014)         5.0

In [76]:
top_10_recos = predictions_df.groupby("userId").head(10).reset_index(drop=True)

In [77]:
top_10_recos

   userId                                         movie_name  est_rating
0   45844                                 Elizabeth I (2005)         5.0
1   45844             Star Wars Uncut: Director's Cut (2012)         5.0
2   45844                                 Lucky Break (2001)         5.0
3   45844                                   Dog Pound (2010)         5.0
4   45844                           911 in Plane Site (2004)         5.0
5   45844          Wild Things: Diamonds in the Rough (2005)         5.0
6   45844  Serial (Bad) Weddings (Qu'est-ce Qu'on An Fit ...         5.0
7   45844                                      Bag It (2010)         5.0
8   45844  Triad Election (Election 2) (Hak se wui yi wo ...         5.0
9   45844                        Stromberg - Der Film (2014)         5.0
10    248                             Stories We Tell (2012)         5.0
11    248                                 Elizabeth I (2005)         5.0
12    248                             Generation Kill (2008)         5.0
13    248             Star Wars Uncut: Director's Cut (2012)         5.0
14    248        Don't Look Back (Ne te retourne pas) (2009)         5.0
15    248                                 Lucky Break (2001)         5.0
16    248                            5 Broken Cameras (2011)         5.0
17    248                                   Dog Pound (2010)         5.0
18    248                           911 in Plane Site (2004)         5.0
19    248          Wild Things: Diamonds in the Rough (2005)         5.0

## SVD Based Recommendation

In [78]:
# Lets exclude movies with very few ratings, say less than 5
movie_count = ratings["title"].value_counts(ascending=False)
pop_movie = movie_count.loc[movie_count.values > 200].index
len(pop_movie)

567

In [79]:
ratings = ratings.loc[ratings.title.isin(pop_movie)]
ratings.shape

(350710, 7)

In [80]:
from surprise import Dataset,Reader
reader = Reader(rating_scale=(1, 5))
data = Dataset.load_from_df(ratings[['userId', 'title', 'rating']], reader)

In [81]:
ratings.shape

(350710, 7)

In [82]:
# Split data to train and test
from surprise.model_selection import train_test_split
trainset, testset = train_test_split(data, test_size=.25,random_state=123)

# to build on full data
#trainset = data.build_full_trainset()

In [83]:
from surprise import SVD
from surprise import accuracy

In [100]:
svd_model = SVD(n_factors=50,biased=False)
svd_model.fit(trainset)

In [101]:
test_pred = svd_model.test(testset)

In [102]:
test_pred_df = pd.DataFrame([[x.uid,x.iid,x.est] for x in test_pred])

In [103]:
test_pred_df.head()

        0                                             1         2
0    7531                    You Can Count on Me (2000)  4.748084
1   45291  Eternal Sunshine of the Spotless Mind (2004)  3.319848
2   92026                          High Fidelity (2000)  3.802283
3  122811   Curious Case of Benjamin Button, The (2008)  3.363119
4   83105                         Bruce Almighty (2003)  3.161558

In [104]:
test_pred_df.columns = ["userId","movie_name","est_rating"]
test_pred_df.sort_values(by = ["userId", "est_rating"],ascending=False,inplace=True)

In [105]:
test_pred_df.head()

      userId                                         movie_name  est_rating
29185  99863  Amelie (Fabuleux destin d'AmÃ©lie Poulain, Le)...    3.620923
26419  99863  Lord of the Rings: The Return of the King, The...    3.553263
23777  99863      Lord of the Rings: The Two Towers, The (2002)    3.544782
58233  99863                  O Brother, Where Art Thou? (2000)    3.360659
40312  99863                                    Big Fish (2003)    3.286475

In [106]:
top_10_recos = test_pred_df.groupby("userId").head(10).reset_index(drop=True)

In [107]:
top_10_recos.head(30)

   userId                                         movie_name  est_rating
0   99863  Amelie (Fabuleux destin d'AmÃ©lie Poulain, Le)...    3.620923
1   99863  Lord of the Rings: The Return of the King, The...    3.553263
2   99863      Lord of the Rings: The Two Towers, The (2002)    3.544782
3   99863                  O Brother, Where Art Thou? (2000)    3.360659
4   99863                                    Big Fish (2003)    3.286475
5   99863       Eternal Sunshine of the Spotless Mind (2004)    3.238179
6   99863             Battle Royale (Batoru rowaiaru) (2000)    3.197466
7   99863                       Bourne Ultimatum, The (2007)    3.189066
8   99863                                Mystic River (2003)    3.126122
9   99863                               28 Days Later (2002)    3.068587
10   9981         Life Aquatic with Steve Zissou, The (2004)    4.392566
11   9981                           Shaun of the Dead (2004)    4.373681
12   9981                  O Brother, Where Art Thou? (2000)    4.326489
13   9981                                    Sin City (2005)    4.269516
14   9981                               Walk the Line (2005)    4.127084
15   9981                             American Psycho (2000)    4.052747
16   9981                        Little Miss Sunshine (2006)    4.052110
17   9981                   Downfall (Untergang, Der) (2004)    4.049293
18   9981                                    21 Grams (2003)    4.020921
19   9981                           Kill Bill: Vol. 1 (2003)    4.007001
20  99800                                     WALLÂ·E (2008)    3.904209
21  99800                            Dark Knight, The (2008)    3.879986
22  99800      Lord of the Rings: The Two Towers, The (2002)    3.685324
23  99800                           Finding Neverland (2004)    3.629458
24  99800                               Walk the Line (2005)    3.607594
25  99800                               Casino Royale (2006)    3.582273
26  99800                              Legally Blonde (2001)    3.540355
27  99800                                 About a Boy (2002)    3.453302
28  99800                    My Big Fat Greek Wedding (2002)    3.437125
29  99800     Harry Potter and the Chamber of Secrets (2002)    3.384615

In [108]:

# compute RMSE
accuracy.rmse(test_pred)

RMSE: 0.7692

0.7691777998767567