In [ ]:
#Case Study-Titan Insurance Company-

In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import ttest_1samp, ttest_ind, mannwhitneyu, levene, shapiro,wilcoxon
from statsmodels.stats.power import ttest_power

In [23]:
sales_df = pd.read_csv('sales_scheme.csv',delimiter=',')
sales_df.head()

   sales_person  old_scheme  new_scheme
0             1          57          62
1             2         103         122
2             3          59          54
3             4          75          82
4             5          84          84

In [24]:
# two-sample t-test
# null hypothesis: the new scheme has significant outputs on sales
# this test assumes the two groups have the same variance...

In [31]:
old_scheme = np.array(sales_df[['old_scheme']])
new_scheme =np.array( sales_df[['new_scheme']])
print(old_scheme)

[[ 57]
 [103]
 [ 59]
 [ 75]
 [ 84]
 [ 73]
 [ 35]
 [110]
 [ 44]
 [ 82]
 [ 67]
 [ 64]
 [ 78]
 [ 53]
 [ 41]
 [ 39]
 [ 80]
 [ 87]
 [ 73]
 [ 65]
 [ 28]
 [ 62]
 [ 49]
 [ 84]
 [ 63]
 [ 77]
 [ 67]
 [101]
 [ 91]
 [ 50]]

In [32]:
t_statistic, p_value = ttest_ind(old_scheme, new_scheme)
print(t_statistic, p_value)

[-0.69370676] [0.49063516]

In [33]:
t_statistic, p_value = ttest_1samp(new_scheme - old_scheme, 0)
print(t_statistic, p_value)

[1.55591438] [0.13057554]

In [34]:
# p_value > 0.05 => null hypothesis is accepted:
# they have the significant output on the sales at the 5% significance level

In [35]:
# p < 0.05 => alternative hypothesis:
# the difference in mean is not equal to 0
print ("paired t-test p-value=", p_value)

paired t-test p-value= [0.13057554]

In [45]:
old_scheme = np.array(sales_df[['old_scheme']])
new_scheme = np.array(sales_df[['new_scheme']])
print(old_scheme)

[[ 57]
 [103]
 [ 59]
 [ 75]
 [ 84]
 [ 73]
 [ 35]
 [110]
 [ 44]
 [ 82]
 [ 67]
 [ 64]
 [ 78]
 [ 53]
 [ 41]
 [ 39]
 [ 80]
 [ 87]
 [ 73]
 [ 65]
 [ 28]
 [ 62]
 [ 49]
 [ 84]
 [ 63]
 [ 77]
 [ 67]
 [101]
 [ 91]
 [ 50]]

In [47]:
old_scheme.ndim

2

In [52]:
print(old_scheme.flatten())
old_scheme=old_scheme.flatten()
new_scheme=new_scheme.flatten()

[ 57 103  59  75  84  73  35 110  44  82  67  64  78  53  41  39  80  87
  73  65  28  62  49  84  63  77  67 101  91  50]

In [53]:
# alternative to paired t-test when data has an ordinary scale or when not
# normally distributed
z_statistic, p_value = wilcoxon(new_scheme - old_scheme)

print ("paired wilcoxon-test p-value=", p_value)

paired wilcoxon-test p-value= 0.06116952762758769

In [55]:
# For checking equality of variance between groups
# Null Hypothesis: Variances are equal
levene(old_scheme,new_scheme)

LeveneResult(statistic=1.063061539437244, pvalue=0.30679836081811235)

In [56]:
# For checking Normality distribution of each distribution
# Null Hypothesis: Distribution is Normal
shapiro(new_scheme)

(0.9687567353248596, 0.5057420134544373)

In [57]:
# Calculating Power of Test
# Compute the difference in Means between 2 sample means and divide by pooled Standard Deviation 
# number of Observations/tuples
# Set the alpha value to 0.05 and alternative values 'two-sided' , 'larger' , 'smaller'
(np.mean(old_scheme) - np.mean(new_scheme)) / np.sqrt(((11-1)*np.var(old_scheme)+(11-1)*np.var(new_scheme)) / 11+11-2)

-0.13441726595582315

In [58]:
print(ttest_power(0.87, nobs=11, alpha=0.05, alternative='two-sided'))

0.7392948947066131

In [59]:
# Caculating power of test for the energ dataset

(np.mean(old_scheme) - np.mean(new_scheme)) / np.sqrt(((9-1)*np.var(old_scheme)+(13-1)*np.var(new_scheme)) / 9+13-2)

-0.11969291612453788