# Credit defaulters identification

Introduction to the data set

German credit rating dataset contains categorical/symbolic attributes of the persons who availed the credit and the current status of the credit. The status of the credit is indicated by 1 for good credits and 2 for bad credits.

The dataset can be downloaded from UCI Repository.

https://archive.ics.uci.edu/ml/datasets/Statlog+%28German+Credit+Data%29

The detailed description of variables can be found at the same link.

### Read the data set

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv( "germanCreditDefault.csv" )

In [3]:
data.head(2)

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,other_credit,housing,existing_loans_count,job,dependents,phone,default
0,< 0 DM,6,critical,furniture/appliances,1169,unknown,> 7 years,4,4,67,none,own,2,skilled,1,yes,no
1,1 - 200 DM,48,good,furniture/appliances,5951,< 100 DM,1 - 4 years,2,2,22,none,own,1,skilled,1,no,yes

In [4]:
data.head(2).T

                                         0                     1
checking_balance                    < 0 DM            1 - 200 DM
months_loan_duration                     6                    48
credit_history                    critical                  good
purpose               furniture/appliances  furniture/appliances
amount                                1169                  5951
savings_balance                    unknown              < 100 DM
employment_duration              > 7 years           1 - 4 years
percent_of_income                        4                     2
years_at_residence                       4                     2
age                                     67                    22
other_credit                          none                  none
housing                                own                   own
existing_loans_count                     2                     1
job                                skilled               skilled
dependents                               1                     1
phone                                  yes                    no
default                                 no                   yes

# Process non-numeric data

Separate data into train and test sets ( 70:30). Use random seed as 7

# Build the following classification models and compare performance:
1. Logistic regression
2. Naive Bayes
3. KNN Classifier
4. Decision Tree Classifier
5. Random Forest Classifier
6. Support Vector Classifier

# Build the following classification models by considering 90% of variance in the data by using PCA and compare performance:
1. Logistic regression
2. Naive Bayes
3. KNN Classifier
4. Decision Tree Classifier
5. Random Forest Classifier
6. Support Vector Classifier

# Build the following classification models by considering 95% of variance in the data by using PCA and compare performance:
1. Logistic regression
2. Naive Bayes
3. KNN Classifier
4. Decision Tree Classifier
5. Random Forest Classifier
6. Support Vector Classifier

# Any observations?